:root {
	--dark-menu: #353534;
	--white-main: #F2F2F2;
}
body{
	margin: 0px;
	font-size: 12px;
	font-family: sans-serif;
	letter-spacing: 0.2em;
}
.logo-contenedor{
	display: flex;
	background-color: var(--dark-menu);
	padding: 4px;
}
.logo-contenedor p{
	font-size: 12px;
	color: greenyellow;
	padding-left: 20px;
}
.back{
	position: absolute;
	right: 16px;
  }
.Item-contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: var(--white-main);
	min-height: calc(100vh - 48px);
}
	#item{
		border-style: solid;
		border-color: #E8E8E1;
		border-width: 1px;
		border-radius: 10px;
		margin: 0.2em;
		background-color: #f6f6f8;
		width: 180px;
	}
.Item-contenedor img{
	width: 180px;
	height: 180px;
	object-fit: contain;
}